.product-slider {
  width: 100%;
  height: 300px;
  /* background-image: url("../../assets/image-product-1.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  appearance: none;
  border: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.buttons button:hover svg path {
  fill: none;
}
